@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&family=Zen+Kurenaido&display=swap');


h1 {
  font-family: 'Zen Kurenaido', sans-serif;
  text-transform: uppercase;
}

p, button {
  font-family: 'Zen Kurenaido', sans-serif;
}

.container {
  margin: 10%;
}